
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
    background-image: url(../mdn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.brand{
    width: 80px;
}


    :root {
        --text-primary : #fff;
        --text-link : #8cb4ff;
    }
    .abc:hover{
        background-color: #8cb4ff;
    }

.navbar{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0px 50px;
    gap: 20px;
    border-bottom: 1px solid var(--text-primary);
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
/* .nav-container-list:hover{
    color: #8cb4ff; 
 } */
.nav-container>div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-container>div:nth-child(1) button{
     background-color: black;
    border: none; 
    color: rgb(211, 211, 211);
}
.nav-container>div:nth-child(1) button:hover{
    cursor: pointer;
}
.nav-container-list{
    position: relative;
    padding: 12px;
}
.list-container{
    position: absolute;
    background-color: black;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(234, 144, 144);
    border: 1px solid var(--text-primary);
}
.list-container a{
text-decoration: none;

color: var(--text-primary);
}
.list-container .list-description {
   color: gray;
   font-size: .7rem;
    }
    .list-container .list-heading {
        font-size: 0.7rem;
    }  
.list-items{
padding: 10px 5px;
border-radius: 3px;
}
.list-tiems:hover{
    cursor: pointer;
    background-color: rgba(252, 248, 248, 0.248);
}
.hidden{
    display: none;
}

.list-container> *::before{
    content: "";
    position:absolute;
    left:0;
    height:20px;
    width:3px;
    background-color: rgb(174, 241, 225);

}
/* .list-container>*:hover::after{
    background-color: aqua;
} */
.list-container> *::before:hover{
    content: "";
    position:absolute;
    left:0;
    height:20px;
    width:3px;
    background-color: rgb(17, 151, 120);

}